@import "~bootstrap/scss/bootstrap.scss";

.container {
  border: solid;
  border: 1px solid black;
  margin-top: 20%;
}

.row {
  border: none;

}

.col {
  border: solid blue;
  text-align: center;
}

.loginPadding {
  padding: 5%;
}

.inputPadding {
  padding-bottom: 5%;
}
